<div class="flex items-center flex-col gap-2 mt-10">
  <h2>Edit <%= resource_name.to_s.humanize %></h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="flex flex-col items-center gap-5 drop-shadow-lg md:w-full">
      <div class="field w-full">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"w-full rounded-md" %>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <div class="field w-full">
        <%= f.label :password %>
        <% if @minimum_password_length %>
          <em><%= @minimum_password_length %> characters minimum</em>
        <% end %>
        <%= f.password_field :password, autocomplete: "new-password", class:"w-full rounded-md" %>
      </div>

      <div class="field w-full">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"w-full rounded-md" %>
      </div>

      <div class="field w-full">
        <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
        <%= f.password_field :current_password, autocomplete: "current-password", class:"w-full rounded-md" %>
      </div>

      <div class="actions w-full">
        <%= f.submit "Update", class:"w-full text-white py-2 bg-[#0A3D62] rounded-md" %>
      </div>
    <% end %>

    <div class="w-full flex flex-col items-center gap-5">Unhappy? 
      <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete, class:"w-full text-white bg-[#E55039] py-2 px-2 rounded-md" %>
    </div>

    <%= link_to "Back", :back %>
    </div>

</div>

