<% render "layouts/header" %>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: "flex items-center flex-col gap-2 mt-10"}) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
    <div class="flex flex-col items-center gap-5 drop-shadow-lg md:w-1/4">
      <h1 class="text-4xl text-[#0A3D62]">Do.it</h1>
      <p>Create a new account</p>

      <div class="field w-full">
        <%= f.label :email  %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"w-full rounded-md" %>
      </div>

      <div class="field w-full">
        <%= f.label :password %>
        <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
          <%= f.password_field :password, autocomplete: "new-password", class:"w-full rounded-md" %>
      </div>

      <div class="field w-full">
        <%=f.label :password_confirmation %>
        <%=f.password_field :password_confirmation, class:"w-full rounded-md"%>
      </div>


      <div class="actions w-full">
        <%= f.submit "Sign up", class:"w-full text-white py-2 bg-[#0A3D62] rounded-md"%>
      </div>
    </div>
  <%= render "devise/shared/links" %>
<% end %>

