<div class="mx-auto max--w-7xl px-4 sm:px-6 lg:px-8 py-12">
    <div class="mx-auto max-w-3xl">
        <%= form_with url: item_item_members_path(@item), scope: nil, local: true, class:"space-y-8 divide-gray-200" do |f| %>
            <div class="space-y-8 divide-y divide-gray-200">
                <div>
                    <div class="mb-5">
                        <h3 class="text-lg font-medium leading-6 text-gray-900">Item Member List</h3>
                        <p class="mt-1 text-sm text-gray-500">This form adds or removes item member from list.</p>
                    </div>
                    <fieldset>
                        <legend class="text-lg font-medium text-gray-400">Members</legend>
                            <div class="mt-4 divide-y divide-gray-200 border-t border-b border-gray-200">
                                <% @item.list.board.members.uniq.each do |user| %>
                                    <div class="relative flex items-start py-4">
                                        <div class="min-w-0 flex-1 text-sm">
                                            <%= f.label :user_ids, class:"select-none font-medium text-gray-700" do %>
                                                <%= user.email %>
                                            <% end %>
                                        </div>
                                        <div class="ml-3 flex h-5 items-center">
                                            <%= f.check_box :user_ids,  {class:"h-4 w-4 rounded border-gray-300 text-[#0A3D62] focus:ring-[#0A3D62]",  multiple: true , checked: @item.members.include?(user) }, user.id %>
                                        </div>
                                    </div>
                                <% end %>
                            </div>
                    </fieldset>
                </div>
            </div>
            <div class="pt-5">
                <div class="flex justify-end">
                    <%= link_to "Cancel", root_path, class: "rounded-md border border-gray-300 bg-white py-2 px-4 text-sm font-medium text-gray-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2" %>
                    <%= f.submit "Assign Members", class:"ml-3 inline-flex justify-center rounded-md border border-transparent text-white bg-[#0A3D62] py-2 px-4 cursor-pointer shadow-sm hover:bg-[#092A41] focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2"%>
                </div>
            </div>
        <% end %>
    </div>
</div>