<div class="mx-auto max-w-full px-24 py-12" >
    <div class="mb-5">
        <%= link_to "+ Add New Member", new_board_board_user_path(@board), class: "px-4 py-2 bg-[#0A3D62] text-[#fff] rounded-md" %>
    </div>
    <div data-controller="board overflow-x-scroll" 
    data-api-url="<%= api_board_lists_path(@board) %>" 
    data-board-lists-url="<%= board_lists_path(@board) %>" 
    data-item-positions-api-url="<%= api_item_positions_path %>"
    class="mx-auto max-w-full" 
    id="board" 
    style="overflow-x: scroll;"> 
    </div>
</div>

<%= render "shared/modal" %>

