<!DOCTYPE html>
<html>
  <head>
    <title>DoIt</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <script src="https://cdn.tailwindcss.com"></script> 
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
      <%= render "layouts/header" %>
      <div class="flex items-center justify-center">
        <%
=begin%>
 <p class="notice"><%= notice %></p> 
<%
=end%>
        <p class="alert text-red-500"><%= alert %></p>
      </div>
      <%= yield %>
  </body>
</html>
